* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.header-box {
  width: 1024px;
  display: flex;
  margin: 0 auto;
}

header img {
  height: 70px;
}

header nav {
  margin-left: auto;
}

header li {
  color: #fafafa;
  size: 16px;
  padding: 0 30px;
  display: inline-block;
  line-height: 70px;
}

.main-visual {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
}

.main-text {
  padding-top: 200px;
  color: #fafafa;
  text-align: center;
}

.main-text h1 {
  margin-bottom: 10px;
  font-size: 64px;
}

.main-text p {
  font-size: 20px;
}

#portfolio,
#profile {
  background-color: #eceff1;
}

.portfolio-box {
  text-align: center;
  padding: 90px 0 80px 0;
  width: 920px;
  margin: 0 auto;
  color: #000000;
}

.portfolio-box h1,
.feature-box h1,
.profile-box h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

.border {
  height: 3px;
  width: 70px;
  margin: 0 auto;
  background-color: #ec715f;
}

.portfolio-box p,
.feature-text p,
.profile-text p {
  padding: 30px 0;
  font-size: 16px;
}

.portfolio-images,
.feature-images,
.profile-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-images div {
  height: 250px;
  width: 300px;
  background-size: cover;
  background-position: center;
  margin: 0 10px 10px 0;
}
.portfolio-images div:nth-child(3n) {
  margin: 0 0 10px 0;
}

.image1 {
  background-image: url(img/sketch.jpg);
}
.image2 {
  background-image: url(img/websuku.png);
}
.image3 {
  background-image: url(img/write.jpg);
}
.image4 {
  background-image: url(img/webcamp.png);
}
.image5 {
  background-image: url(img/talk.jpg);
}
.image6 {
  background-image: url(img/webcamp-mother.png);
}

.feature-box {
  width: 980px;
  padding: 90px 0;
  margin: 0 auto;
  color: #000000;
  text-align: center;
}

.feature-images h2 {
  font-size: 20px;
  padding: 10px 0;
}

.feature-images p {
  font-size: 16px;
  text-align: left;
}

.feature-images i {
  font-size: 50px;
}

.str1,
.str2 {
  width: 320px;
  margin-right: 10px;
}

.str3 {
  width: 320px;
}

.profile-box {
  width: 1024px;
  padding: 90px 0;
  margin: 0 auto;
  color: #000000;
  text-align: center;
}

.profile-image-icon,
.profile-image-text {
  width: 512px;
}

.profile-image-icon img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-image-text {
  text-align: left;
}

.profile-image-text h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-image-text p {
  font-size: 16px;
  margin-bottom: 20px;
}
